h1 {
    font-family:Arial, Helvetica, sans-serif;
   
    color:crimson
   center
   
    }
   p {
   
    font-family:Arial, Helvetica, sans-serif;
       
   }
 
 
.titulo{
    color:blue

}
.ss{
color:aqua

}